# Regular Expressions

A Python regular expression is a sequence of metacharacters that define a search pattern. We use these patterns in a string-searching algorithm to "find" or "find and replace" on strings.

* The term "regular expressions" is frequently shortened to "RegEx".

In [2]:
# Importing the regular expression re package
import re

In [3]:
dir(re)

['A',
 'ASCII',
 'DEBUG',
 'DOTALL',
 'I',
 'IGNORECASE',
 'L',
 'LOCALE',
 'M',
 'MULTILINE',
 'Match',
 'Pattern',
 'RegexFlag',
 'S',
 'Scanner',
 'T',
 'TEMPLATE',
 'U',
 'UNICODE',
 'VERBOSE',
 'X',
 '_MAXCACHE',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '__version__',
 '_cache',
 '_compile',
 '_compile_repl',
 '_expand',
 '_locale',
 '_pickle',
 '_special_chars_map',
 '_subx',
 'compile',
 'copyreg',
 'enum',
 'error',
 'escape',
 'findall',
 'finditer',
 'fullmatch',
 'functools',
 'match',
 'purge',
 'search',
 'split',
 'sre_compile',
 'sre_parse',
 'sub',
 'subn',
 'template']

## Find all() function

In [5]:

txt = "The rain in Spain"
x = re.findall("in", txt)
print(x) #The list contains the matches in the order they are found.

['in', 'in', 'in']

In [6]:
x = re.findall("ml", txt)
print(x) #If no matches are found, an empty list is returned:

[]

## The search() Function

In [7]:
#Search for the first white-space character in the string:
txt = "The rain in Spain"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x)

The first white-space character is located in position: <re.Match object; span=(3, 4), match=' '>

## The split() Function

In [8]:
#Split at each white-space character:

txt = "The rain in Spain"
x = re.split("i", txt)
print(x)

['The ra', 'n ', 'n Spa', 'n']

In [26]:
#controlling the number of occurrences by specifying the maxsplit parameter:
txt = "The rain in Spain"
x = re.split("\s", txt, 2)
print(x)

['The', 'rain', 'in Spain']

## The sub() Function

In [27]:

# Replace every white-space character with the number 100:

txt = "The rain in Spain"
x = re.sub("Spain", "India", txt)
print(x)

The rain in India

In [28]:

# Replace every white-space character with the Dani:
x = re.sub("\s", "Dani", txt)
print(x)

TheDanirainDaniinDaniSpain

In [33]:
# Replace the first 2 occurrences:
x = re.sub("\s", "PL", txt, 3)
print(x)

ThePLrainPLinPLSpain

In [34]:

# Replace the string with other string
x = re.sub("Spain", "India", txt)
print(x)

The rain in India

## The match() function

In [41]:
print(re.match('ani', 'Daniel'))

None

In [42]:
print(re.search('ani', 'Daniel'))

<re.Match object; span=(1, 4), match='ani'>

None
<re.Match object; span=(1, 4), match='ani'>

In [ ]:
# the expression "w+" and "\W" will match the words starting with letter 'g' and thereafter,
#anything which is not started with 'g' is not identified.
#To check match for each element in the list or string, we run the forloop. \W(D\w+)


list = ["Dani","DJ Daniel Jadi","Daniel Don"]

for i in list:
    z = re.match("(D\w+)", i)
    if z:
        print((z.groups()))

In [40]:
#match checks for a match only at the beginning of the string,
#while search checks for a match anywhere in the string.


line = "Cats are smarter than dogs"

matching = re.match('Ca',line)
print(matching)

<re.Match object; span=(0, 2), match='Ca'>

In [ ]:
searching = re.search('are', line)
print(searching)

Write a regular expression to match the word "Python"
at the start of the string line = "Python is fun".

In [43]:
list = 'Python is fun'
l = re.match('Python', list)
print(l)

<re.Match object; span=(0, 6), match='Python'>

Using re.search(), find the word "fun" in the string line = "Python is fun"

In [44]:
import re
line="python is fun"
matching=re.search("fun",line)
print(matching)

<re.Match object; span=(10, 13), match='fun'>

Write a regular expression to search for "python" (case-insensitive)
in the string line = "I love Python"

In [45]:
string_list = 'I Love Python'
line= re.search('python', string_list, re.IGNORECASE)
print(line)

<re.Match object; span=(7, 13), match='Python'>

Write a regex to extract all the digits from the string line = "My number is 12345"

In [47]:
line = "my number is 12345"
digits = re.findall('\d+', line)
print(digits)

['12345']

Use re.sub() to replace all spaces in the string line = "Cats are smarter than dogs" with underscores (_).

In [48]:
txt = "cats are smarter than dog"
x = re.sub("\s","_", txt)
print (x)

cats_are_smarter_than_dog

Use re.split() to split the string line = "Cats, dogs, and birds" at each comma.
python

In [51]:
list = "cats, dogs, and birds"
d= re.split(',',list)
print(d)

['cats', ' dogs', ' and birds']

Write a regex to find all words starting with a capital letter in line = "Hello World This is Python".

In [55]:
line = "Hello World This is Python"
pattern = r'\b[A-Z][a-z]*\b'
v = re.findall(pattern, line)
print(v)

['Hello', 'World', 'This', 'Python']

Write a regular expression to check if the string line = "Python is awesome" ends with "awesome".

In [57]:
txt = "python is awesome"
x = re.search(r"\b\w+\b$",txt)
print (x)

<re.Match object; span=(10, 17), match='awesome'>

In [58]:
line = 'Python is awesome'
k= re.search("awesome$", line)
print(k)

<re.Match object; span=(10, 17), match='awesome'>

Write a regular expression to find all occurrences of either "cat" or "dog" in the string line = "The cat and the dog are friends".

In [61]:
line = "the cat and dog are friends"
x = re.findall("cat|dog", line)
print(x)

['cat', 'dog']

Write a regex to remove all characters from the string line = "Python123! Is fun" that are not alphabet letters (keep only A-Z and a-z)

In [64]:
txt = "python123!"
x =  re.sub(r"[^A-Za-z]", "", txt)
print (x)

python